<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/main.css" />
		<title>COMBIS</title>
	</head>
	<body>
		<div class="content-wrap">
			<header>
				<h1>COMBIS Zadatak</h1>
			</header>
			<h1> EROR 404!</h1>
			<footer>Copyright &copy; 2020 Ivan Dodig</footer>
		</div>
	</body>
</html>
